<div class="flex flex-col w-full">
  <h1
    class="absolute top-7 font-bold hidden md:block left-80 z-[50] text-xl transition-all duration-500"
  >
    Add Admin
  </h1>
  <form [formGroup]="adminForm" (ngSubmit)="addAdmin()">
    <div
      class="flex flex-col items-center w-full ps-0 md:ps-10 lg:items-start gap-x-8 gap-y-8 lg:justify-between lg:flex-row"
    >
      <div class="flex flex-col w-full lg:w-2/3 gap-y-10">
        <div class="flex flex-col gap-y-4">
          <div class="flex flex-col gap-y-6">
            <div class="grid grid-cols-1 gap-y-4 gap-x-6 lg:grid-cols-2">
              <div class="flex flex-col gap-y-1">
                <label
                  for="firstName"
                  class="font-bold text-[#002C3D4D] text-lg"
                  >FirstName
                  <span class="text-lg font-bold text-red-600">*</span></label
                >
                <input
                  type="text"
                  id="firstName"
                  formControlName="firstName"
                  class="px-4 py-2 text-lg font-semibold border rounded-md outline-none appearance-none text-mainColor1 border-mainColor1 focus:border-subColor1"
                />
              </div>

              <div class="flex flex-col gap-y-1">
                <label for="lastName" class="font-bold text-[#002C3D4D] text-lg"
                  >Last Name
                  <span class="text-lg font-bold text-red-600">*</span></label
                >
                <input
                  type="text"
                  id="lastName"
                  formControlName="lastName"
                  class="px-4 py-2 text-lg font-semibold border rounded-md outline-none appearance-none text-mainColor1 border-mainColor1 focus:border-subColor1"
                />
              </div>
              <div class="flex flex-col gap-y-1">
                <label for="userName" class="font-bold text-[#002C3D4D] text-lg"
                  >User Name
                  <span class="text-lg font-bold text-red-600">*</span></label
                >
                <input
                  type="text"
                  id="userName"
                  formControlName="userName"
                  class="px-4 py-2 text-lg font-semibold border rounded-md outline-none appearance-none text-mainColor1 border-mainColor1 focus:border-subColor1"
                />
              </div>

              <div class="flex flex-col gap-y-1">
                <label for="email" class="font-bold text-[#002C3D4D] text-lg"
                  >email
                  <span class="text-lg font-bold text-red-600">*</span></label
                >
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="px-4 py-2 text-lg font-semibold border rounded-md outline-none appearance-none text-mainColor1 border-mainColor1 focus:border-subColor1"
                />
              </div>

              <div class="flex flex-col gap-y-1">
                <label for="password" class="font-bold text-[#002C3D4D] text-lg"
                  >Password
                  <span class="text-lg font-bold text-red-600">*</span></label
                >
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="px-4 py-2 text-lg font-semibold border rounded-md outline-none appearance-none text-mainColor1 border-mainColor1 focus:border-subColor1"
                />
              </div>

              <div id="dropdown" class="relative flex flex-col gap-y-1">
                <label for="role" class="font-bold text-[#002C3D4D] text-lg"
                  >Role
                  <span class="text-lg font-bold text-red-600">*</span></label
                >
                <button
                  type="button"
                  (click)="toggleDropdown()"
                  class="flex items-center justify-between px-4 py-2 text-lg font-semibold bg-white border rounded-md outline-none text-mainColor1 border-mainColor1 focus:border-subColor1"
                >
                  @if (roleName) { {{ roleName }} }@else {

                  <span class="text-[#002C3D4D]">role</span>
                  }
                  <svg
                    class="ml-2 transition-transform rotate-0 size-4"
                    [class.rotate-180]="isDropdownOpen == true"
                    viewBox="0 0 11 7"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.58027 5.31922L10.6603 2.23923C11.1103 1.78923 11.1103 1.04922 10.6603 0.599219C10.2103 0.149219 9.47027 0.149219 9.02027 0.599219L6.10029 3.52921C5.86029 3.73921 5.48028 3.76921 5.25028 3.52921L2.32029 0.599219C1.87029 0.149219 1.13027 0.149219 0.680273 0.599219C0.230273 1.04922 0.230273 1.78923 0.680273 2.23923L3.76029 5.31922C5.08029 6.63922 6.21028 6.69922 7.59028 5.31922H7.58027Z"
                      fill="#285C6A"
                    />
                  </svg>
                </button>
                @if (isDropdownOpen) {
                <div
                  class="absolute right-0 top-[80px] z-10 w-full mt-2 bg-white border border-gray-300 rounded-md shadow-lg focus:outline-none"
                >
                  <ul>
                    @for (option of ['Admin', 'SuperAdmin']; track option) {

                    <li
                      (click)="selectRole(option)"
                      [class.text-subColor1]="option === roleName"
                      class="px-3 py-2 font-semibold cursor-pointer text-mainColor1 hover:bg-blue-100"
                    >
                      {{ option }}
                    </li>
                    }
                  </ul>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex items-center justify-center w-full mt-16 text-lg font-semibold lg:w-2/3 gap-x-6 text-mainColor4"
    >
      <button type="submit" class="px-8 py-2 rounded-md bg-mainColor1">
        @if (!isLoading) {Save}@else {
        <div class="flex items-center justify-center w-full bg-opacity-60">
          <div class="flex items-center justify-center">
            <div
              class="border-4 border-dashed rounded-full w-7 h-7 border-subColor2 animate-spin"
            ></div>
          </div>
        </div>
        }
      </button>

      <button
        type="button"
        routerLink="/"
        class="px-6 py-2 bg-red-600 rounded-md"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
