<div class="w-screen h-full md:pt-0">
  <div class="relative z-40">
    <h1
      class="text-5xl leading-tight text-mainBlack px-7 md:text-5xl lg:text-8xl"
    >
      Technologies
    </h1>
    <div
      class="grid grid-cols-2 gap-2 px-4 mx-auto mt-8 md:gap-4 md:grid-cols-4 lg:grid-cols-6"
      [ngClass]="allTechnologies.length > 42 ? 'w-11/12' : 'max-w-7xl'"
    >
      @for (item of allTechnologies; track item.id) {

      <button
        routerLink="configurator"
        [queryParams]="{ techId: item.id }"
        class="bg-[#1f2937] hover:bg-gradient-to-r transition-all duration-500 hover:scale-105 flex items-center gap-x-4 px-5 from-mainGreen via-secondaryGreen to-tertiartGreen font-semibold ps-3 text-left py-4 text-sm rounded-md text-mainWhite hover:text-mainBlack"
      >
        <img [src]="item.iconUrl" [alt]="item.name" class="size-6" />
        <span>{{ item.name }}</span>
      </button>
      }
    </div>
  </div>
  <div class="absolute right-0 flex items-center justify-end">
    <img src="tech.png" class="object-contain w-full h-full" alt="Here Image" />
  </div>
</div>
