<nav
  class="sticky top-0 z-[1580] flex items-center justify-between h-24 px-8 text-white bg-black md:pe-10"
  [class.border-b-2]="isOpened"
>
  @if (currentPath.includes('configurator')) {
  <div
    class="absolute bottom-0 left-0 right-0 h-0.5 bg-gradient-to-r from-pink-400 via-purple-500 to-blue-500"
  ></div>
  }
  <!-- Logo -->
  <div routerLink="/" class="w-24 cursor-pointer">
    <h1 class="text-3xl font-semibold">Fiker</h1>
  </div>

  <!-- Menu -->
  <ul class="hidden gap-x-8 md:flex">
    <li class="cursor-pointer borer-b-4">
      <a
        routerLink="/"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
        class="relative text-white text-lg tracking-wide no-underline after:content-[''] after:block after:w-full after:h-[4px] after:bg-gradient-to-r after:from-blue-500 after:via-purple-500 after:to-pink-500 after:mt-1 after:transition-all after:origin-left after:scale-x-0 hover:after:scale-x-100 hover:after:duration-700"
        >Home</a
      >
    </li>
    <li class="cursor-pointer borer-b-4">
      <a
        routerLink="it-services"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
        class="relative text-white text-lg tracking-wide no-underline after:content-[''] after:block after:w-full after:h-[4px] after:bg-gradient-to-r after:from-blue-500 after:via-purple-500 after:to-pink-500 after:mt-1 after:transition-all after:origin-left after:scale-x-0 hover:after:scale-x-100 hover:after:duration-700"
        >IT SERVICES</a
      >
    </li>
    <li class="cursor-pointer borer-b-4">
      <button
        (click)="navigateToSection('section7')"
        class="relative text-white text-lg tracking-wide no-underline after:content-[''] after:block after:w-full after:h-[4px] after:bg-gradient-to-r after:from-blue-500 after:via-purple-500 after:to-pink-500 after:mt-1 after:transition-all after:origin-left after:scale-x-0 hover:after:scale-x-100 hover:after:duration-700"
      >
        CONTACT US
      </button>
    </li>
  </ul>

  <!-- Mobile Menu Button -->
  <div class="md:hidden">
    <button (click)="handleIsOpened()" class="focus:outline-none">
      @if (isOpened) {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18 18 6M6 6l12 12"
        />
      </svg>

      }@else {
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
      }
    </button>
  </div>
</nav>

@if (isOpened) {
<div
  class="h-[calc(100vh-4rem-4rem)] absolute z-50 w-full px-6 py-4 text-white bg-black md:hidden"
>
  <ul class="flex flex-col pt-4 gap-y-4">
    <li
      routerLink="configurator"
      routerLinkActive="active"
      class="relative w-full pb-5 text-xl tracking-wide text-white border-b border-gray-400 cursor-pointer"
    >
      SQUADS AS A SERVICE
    </li>
    <li
      routerLink="it-services"
      routerLinkActive="active"
      class="relative w-full pb-5 text-xl tracking-wide text-white border-b border-gray-400 cursor-pointer"
    >
      IT SERVICES
    </li>
    <li
      class="relative w-full pb-5 text-xl tracking-wide text-white border-b border-gray-400 cursor-pointer"
    >
      CONTACT US
    </li>
  </ul>
</div>
}
