<nav
  class="fixed top-0 left-0 z-50 flex items-center justify-center w-full h-20 shadow-md bg-mainColor1 rounded-br-2xl rounded-bl-2xl"
>
  <div class="flex items-center justify-between w-full h-16 px-6 mx-auto">
    <button (click)="show()" class="appearance-none focus:outline-none">
      <svg
        width="26"
        height="26"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3 7H21"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
        />
        <path
          d="M3 12H21"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
        />
        <path
          d="M3 17H21"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>
    </button>
    <div
      class="flex items-center text-4xl font-bold tracking-wider text-mainWhite"
    >
      Fiker
    </div>
    <ul class="flex items-center space-x-4">
      <li>
        <div class="relative cursor-pointer">
          <img
            class="object-cover w-10 h-10 border rounded-full border-mainColor1"
            src="user.png"
            alt="Avatar"
            loading="lazy"
          />
          <div class="absolute inset-0 rounded-full shadow-inner"></div>
        </div>
      </li>
    </ul>
  </div>
</nav>
