<div [ngClass]="activeTab === 5 ? '' : 'w-full h-screen'" class="relative">
  @if (activeTab !== 4 && activeTab !==5 ) {
  <div class="absolute inset-y-0 right-0">
    <img
      src="https://squadsasaservice.com/market-form.webp"
      alt="market-form"
      loading="lazy"
      class="object-cover w-full h-full"
    />
  </div>
  <div
    class="relative flex items-center justify-center w-11/12 mx-auto my-10 md:w-8/12"
  >
    <!-- Line -->
    <div
      class="absolute w-full h-0.5 bottom-2 bg-gradient-to-r from-pink-400 via-purple-500 to-blue-500"
    ></div>

    <div class="relative flex justify-between w-full md:w-10/12">
      @for (tab of tabs.slice(0,-2); track tab.id; let i = $index) {

      <div class="flex flex-col items-center">
        <span
          [ngClass]="
            activeTab === i
              ? 'font-medium text-mainWhite md:text-xl text-base'
              : 'text-gray-500 text-sm md:mb-2 mb-[5px]'
          "
        >
          {{ tab.label }}
        </span>
        <button
          class="flex items-center justify-center rounded-full"
          [ngClass]="activeTab === i ? 'size-4' : 'size-3'"
          [class.bg-fGradient]="i === 0"
          [class.bg-[#D800F0]]="i === 1"
          [class.bg-sGradient]="i === 2"
          [class.bg-tGradient]="i === 3"
        ></button>
      </div>
      }
    </div>
  </div>
  }

  <div
    [ngStyle]="{
      height: activeTab === 4 ? 'calc(100vh - 110px)' : 'calc(100vh - 230px)'
    }"
    class="relative flex flex-col items-center mx-auto mb-10 overflow-y-auto scroll md:ps-4 md:gap-y-10 gap-y-6"
    [ngClass]="activeTab === 4 ? 'md:w-9/12' : 'md:w-8/12'"
    [class.hidden]="activeTab === 5"
  >
    @if (marketId ) { @switch (activeTab) { @case (0) {
    <h1 class="self-start text-3xl text-mainWhite md:text-6xl">
      Choose your market
    </h1>
    <div
      class="grid w-full grid-cols-1 md:gap-8 gap-y-2 md:gap-y-0 md:grid-cols-2"
    >
      @if (!isLoadingM) { @for (market of allMarkets; track market.id) {
      <button
        (click)="navigateFromMarket(market, 'area', 1)"
        class="flex items-center p-4 font-semibold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite"
        [class.bg-[#374151]]="order['marketId'] === market.id"
      >
        <div class="size-8">
          <img
            [src]="market.iconUrl"
            class="object-cover w-full h-full transition duration-500 group-hover:scale-125"
            [alt]="market.name"
            [class.scale-125]="order['marketId'] === market.id"
          />
        </div>
        <span
          class="text-lg transition duration-500 origin-left group-hover:text-transparent group-hover:bg-clip-text group-hover:scale-x-125 group-hover:bg-gradient-to-r group-hover:from-fGradient group-hover:via-sGradient group-hover:to-tGradient group-hover:scale-y-105"
          [ngClass]="
            order['marketId'] === market.id
              ? 'text-transparent bg-clip-text scale-x-125 bg-gradient-to-r from-fGradient via-sGradient scale-y-105 to-tGradient'
              : ''
          "
          >{{ market.name }}</span
        >
      </button>
      } }@else { @for (market of [1, 2, 3, 4]; track market) {
      <div
        class="flex items-center px-4 py-3 text-lg font-bold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite hover:scale-105"
      >
        <div class="bg-gray-700 rounded-md size-12 animate-pulse"></div>
        <span class="w-2/3 h-12 bg-gray-700 rounded-md animate-pulse"></span>
      </div>
      } }
    </div>
    } @case (1) {

    <h1 class="self-start text-3xl text-mainWhite md:text-6xl">
      Select the area
    </h1>
    <div
      class="grid w-full grid-cols-1 md:gap-8 gap-y-2 md:gap-y-0 md:grid-cols-2"
    >
      @if (!isLoadingA) { @for (area of allAreas; track area.id) {
      <button
        (click)="navigateFormArea(area, 'tech', 2)"
        class="flex items-center p-4 font-semibold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite"
        [class.bg-[#374151]]="order['areaId'] === area.id"
      >
        <span
          class="text-lg transition duration-500 origin-left group-hover:text-transparent group-hover:bg-clip-text group-hover:scale-x-125 group-hover:bg-gradient-to-r group-hover:from-fGradient group-hover:via-sGradient group-hover:to-tGradient group-hover:scale-y-105"
          [ngClass]="
            order['areaId'] === area.id
              ? 'text-transparent bg-clip-text scale-x-125 bg-gradient-to-r from-fGradient via-sGradient scale-y-105 to-tGradient'
              : ''
          "
          >{{ area.name }}</span
        >
      </button>
      } }@else { @for (market of [1, 2, 3, 4]; track market) {
      <div
        class="flex items-center px-4 py-3 text-lg font-bold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite hover:scale-105"
      >
        <span class="w-2/3 h-12 bg-gray-700 rounded-md animate-pulse"></span>
      </div>
      } }
    </div>
    } @case (2) {
    <h1 class="self-start text-3xl text-mainWhite md:text-6xl">
      Select the technology
    </h1>
    <div
      class="grid w-full grid-cols-1 md:gap-8 gap-y-2 md:gap-y-0 md:grid-cols-2"
    >
      @if (!isLoadingT) { @for (tech of allTechnologiesBelongArea; track
      tech.id) {
      <button
        (click)="navigateFromTechnology(tech, 'profile', 3)"
        class="flex items-center p-4 font-semibold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite"
        [class.bg-[#374151]]="order['technologyId'] === tech.id"
      >
        <div class="size-8">
          <img
            [src]="tech.iconUrl"
            class="object-cover w-full h-full transition duration-500 group-hover:scale-125"
            [alt]="tech.name"
            [class.scale-125]="order['technologyId'] === tech.id"
          />
        </div>
        <span
          class="text-lg transition duration-500 origin-left group-hover:text-transparent group-hover:bg-clip-text group-hover:scale-x-125 group-hover:bg-gradient-to-r group-hover:from-fGradient group-hover:via-sGradient group-hover:to-tGradient group-hover:scale-y-105"
          [ngClass]="
            order['technologyId'] === tech.id
              ? 'text-transparent bg-clip-text scale-x-125 bg-gradient-to-r from-fGradient via-sGradient scale-y-105 to-tGradient'
              : ''
          "
          >{{ tech.name }}</span
        >
      </button>
      } }@else { @for (market of [1, 2, 3, 4]; track market) {
      <div
        class="flex items-center px-4 py-3 text-lg font-bold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite hover:scale-105"
      >
        <div class="bg-gray-700 rounded-md size-12 animate-pulse"></div>
        <span class="w-2/3 h-12 bg-gray-700 rounded-md animate-pulse"></span>
      </div>
      } }
    </div>
    } } }@else { @if (areaId) { @switch (activeTab) { @case (1) {
    <h1 class="self-start text-3xl text-mainWhite md:text-6xl">
      Choose your market
    </h1>
    <div
      class="grid w-full grid-cols-1 md:gap-8 gap-y-2 md:gap-y-0 md:grid-cols-2"
    >
      @if (!isLoadingM) { @for (market of allMarkets; track market.id) {
      <button
        (click)="navigateFromMarket(market, 'tech', 2)"
        class="flex items-center p-4 font-semibold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite"
        [class.bg-[#374151]]="order['marketId'] === market.id"
      >
        <div class="size-8">
          <img
            [src]="market.iconUrl"
            class="object-cover w-full h-full transition duration-500 group-hover:scale-125"
            [alt]="market.name"
            [class.scale-125]="order['marketId'] === market.id"
          />
        </div>
        <span
          class="text-lg transition duration-500 origin-left group-hover:text-transparent group-hover:bg-clip-text group-hover:scale-x-125 group-hover:bg-gradient-to-r group-hover:from-fGradient group-hover:via-sGradient group-hover:to-tGradient group-hover:scale-y-105"
          [ngClass]="
            order['marketId'] === market.id
              ? 'text-transparent bg-clip-text scale-x-125 bg-gradient-to-r from-fGradient via-sGradient scale-y-105 to-tGradient'
              : ''
          "
          >{{ market.name }}</span
        >
      </button>
      } }@else { @for (market of [1, 2, 3, 4]; track market) {
      <div
        class="flex items-center px-4 py-3 text-lg font-bold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite hover:scale-105"
      >
        <div class="bg-gray-700 rounded-md size-12 animate-pulse"></div>
        <span class="w-2/3 h-12 bg-gray-700 rounded-md animate-pulse"></span>
      </div>
      } }
    </div>
    } @case (0) {
    <h1 class="self-start text-3xl text-mainWhite md:text-6xl">
      Select the area
    </h1>
    <div
      class="grid w-full grid-cols-1 md:gap-8 gap-y-2 md:gap-y-0 md:grid-cols-2"
    >
      @if (!isLoadingA) { @for (area of allAreas; track area.id) {
      <button
        (click)="navigateFormArea(area, 'market', 1)"
        class="flex items-center p-4 font-semibold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite"
        [class.bg-[#374151]]="order['areaId'] === area.id"
      >
        <span
          class="text-lg transition duration-500 origin-left group-hover:text-transparent group-hover:bg-clip-text group-hover:scale-x-125 group-hover:bg-gradient-to-r group-hover:from-fGradient group-hover:via-sGradient group-hover:to-tGradient group-hover:scale-y-105"
          [ngClass]="
            order['areaId'] === area.id
              ? 'text-transparent bg-clip-text scale-x-125 bg-gradient-to-r from-fGradient via-sGradient scale-y-105 to-tGradient'
              : ''
          "
          >{{ area.name }}</span
        >
      </button>
      } }@else { @for (market of [1, 2, 3, 4]; track market) {
      <div
        class="flex items-center px-4 py-3 text-lg font-bold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite hover:scale-105"
      >
        <span class="w-2/3 h-12 bg-gray-700 rounded-md animate-pulse"></span>
      </div>
      } }
    </div>
    } @case (2) {
    <h1 class="self-start text-3xl text-mainWhite md:text-6xl">
      Select the technology
    </h1>
    <div
      class="grid w-full grid-cols-1 md:gap-8 gap-y-2 md:gap-y-0 md:grid-cols-2"
    >
      @if (!isLoadingT) { @for (tech of allTechnologiesBelongArea; track
      tech.id) {
      <button
        (click)="navigateFromTechnology(tech, 'profile', 3)"
        class="flex items-center p-4 font-semibold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite"
        [class.bg-[#374151]]="order['technologyId'] === tech.id"
      >
        <div class="size-8">
          <img
            [src]="tech.iconUrl"
            class="object-cover w-full h-full transition duration-500 group-hover:scale-125"
            [alt]="tech.name"
            [class.scale-125]="order['technologyId'] === tech.id"
          />
        </div>
        <span
          class="text-lg transition duration-500 origin-left group-hover:text-transparent group-hover:bg-clip-text group-hover:scale-x-125 group-hover:bg-gradient-to-r group-hover:from-fGradient group-hover:via-sGradient group-hover:to-tGradient group-hover:scale-y-105"
          [ngClass]="
            order['technologyId'] === tech.id
              ? 'text-transparent bg-clip-text scale-x-125 bg-gradient-to-r from-fGradient via-sGradient scale-y-105 to-tGradient'
              : ''
          "
          >{{ tech.name }}</span
        >
      </button>
      } }@else { @for (market of [1, 2, 3, 4]; track market) {
      <div
        class="flex items-center px-4 py-3 text-lg font-bold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite hover:scale-105"
      >
        <div class="bg-gray-700 rounded-md size-12 animate-pulse"></div>
        <span class="w-2/3 h-12 bg-gray-700 rounded-md animate-pulse"></span>
      </div>
      } }
    </div>
    } } } @else if(techId) { @switch (activeTab) { @case (2) {
    <h1 class="self-start text-3xl text-mainWhite md:text-6xl">
      Choose your market
    </h1>
    <div
      class="grid w-full grid-cols-1 md:gap-8 gap-y-2 md:gap-y-0 md:grid-cols-2"
    >
      @if (!isLoadingM) { @for (market of allMarkets; track market.id) {
      <button
        (click)="navigateFromMarket(market, 'profile', 3)"
        class="flex items-center p-4 font-semibold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite"
        [class.bg-[#374151]]="order['marketId'] === market.id"
      >
        <div class="size-8">
          <img
            [src]="market.iconUrl"
            class="object-cover w-full h-full transition duration-500 group-hover:scale-125"
            [alt]="market.name"
            [class.scale-125]="order['marketId'] === market.id"
          />
        </div>
        <span
          class="text-lg transition duration-500 origin-left group-hover:text-transparent group-hover:bg-clip-text group-hover:scale-x-125 group-hover:bg-gradient-to-r group-hover:from-fGradient group-hover:via-sGradient group-hover:to-tGradient group-hover:scale-y-105"
          [ngClass]="
            order['marketId'] === market.id
              ? 'text-transparent bg-clip-text scale-x-125 bg-gradient-to-r from-fGradient via-sGradient scale-y-105 to-tGradient'
              : ''
          "
          >{{ market.name }}</span
        >
      </button>
      } }@else { @for (market of [1, 2, 3, 4]; track market) {
      <div
        class="flex items-center px-4 py-3 text-lg font-bold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite hover:scale-105"
      >
        <div class="bg-gray-700 rounded-md size-12 animate-pulse"></div>
        <span class="w-2/3 h-12 bg-gray-700 rounded-md animate-pulse"></span>
      </div>
      } }
    </div>
    } @case (1) {
    <h1 class="self-start text-3xl text-mainWhite md:text-6xl">
      Select the area
    </h1>
    <div
      class="grid w-full grid-cols-1 md:gap-8 gap-y-2 md:gap-y-0 md:grid-cols-2"
    >
      @if (!isLoadingA) { @for (area of allAreas; track area.id) {
      <button
        (click)="navigateFormArea(area, 'market', 2)"
        class="flex items-center p-4 font-semibold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite"
        [class.bg-[#374151]]="order['areaId'] === area.id"
      >
        <span
          class="text-lg transition duration-500 origin-left group-hover:text-transparent group-hover:bg-clip-text group-hover:scale-x-125 group-hover:bg-gradient-to-r group-hover:from-fGradient group-hover:via-sGradient group-hover:to-tGradient group-hover:scale-y-105"
          [ngClass]="
            order['areaId'] === area.id
              ? 'text-transparent bg-clip-text scale-x-125 bg-gradient-to-r from-fGradient via-sGradient scale-y-105 to-tGradient'
              : ''
          "
          >{{ area.name }}</span
        >
      </button>
      } }@else { @for (market of [1, 2, 3, 4]; track market) {
      <div
        class="flex items-center px-4 py-3 text-lg font-bold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite hover:scale-105"
      >
        <span class="w-2/3 h-12 bg-gray-700 rounded-md animate-pulse"></span>
      </div>
      } }
    </div>
    } @case (0) {
    <h1 class="self-start text-3xl text-mainWhite md:text-6xl">
      Select the technology
    </h1>
    <div
      class="grid w-full grid-cols-1 md:gap-8 gap-y-2 md:gap-y-0 md:grid-cols-2"
    >
      @if (!isLoadingT) { @for (tech of allTechnologiesBelongArea; track
      tech.id) {
      <button
        (click)="navigateFromTechnology(tech, 'area', 1)"
        class="flex items-center p-4 font-semibold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite"
        [class.bg-[#374151]]="order['technologyId'] === tech.id"
      >
        <div class="size-8">
          <img
            [src]="tech.iconUrl"
            class="object-cover w-full h-full transition duration-500 group-hover:scale-125"
            [alt]="tech.name"
            [class.scale-125]="order['technologyId'] === tech.id"
          />
        </div>
        <span
          class="text-lg transition duration-500 origin-left group-hover:text-transparent group-hover:bg-clip-text group-hover:scale-x-125 group-hover:bg-gradient-to-r group-hover:from-fGradient group-hover:via-sGradient group-hover:to-tGradient group-hover:scale-y-105"
          [ngClass]="
            order['technologyId'] === tech.id
              ? 'text-transparent bg-clip-text scale-x-125 bg-gradient-to-r from-fGradient via-sGradient scale-y-105 to-tGradient'
              : ''
          "
          >{{ tech.name }}</span
        >
      </button>
      } }@else { @for (market of [1, 2, 3, 4]; track market) {
      <div
        class="flex items-center px-4 py-3 text-lg font-bold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite hover:scale-105"
      >
        <div class="bg-gray-700 rounded-md size-12 animate-pulse"></div>
        <span class="w-2/3 h-12 bg-gray-700 rounded-md animate-pulse"></span>
      </div>
      } }
    </div>
    } } } @else { @switch (activeTab) { @case (0) {
    <h1 class="self-start text-3xl text-mainWhite md:text-6xl">
      Choose your market
    </h1>
    <div
      class="grid w-full grid-cols-1 md:gap-8 gap-y-2 md:gap-y-0 md:grid-cols-2"
    >
      @if (!isLoadingM) { @for (market of allMarkets; track market.id) {
      <button
        (click)="navigateFromMarket(market, 'area', 1)"
        class="flex items-center p-4 font-semibold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite"
        [class.bg-[#374151]]="order['marketId'] === market.id"
      >
        <div class="size-8">
          <img
            [src]="market.iconUrl"
            class="object-cover w-full h-full transition duration-500 group-hover:scale-125"
            [alt]="market.name"
            [class.scale-125]="order['marketId'] === market.id"
          />
        </div>
        <span
          class="text-lg transition duration-500 origin-left group-hover:text-transparent group-hover:bg-clip-text group-hover:scale-x-125 group-hover:bg-gradient-to-r group-hover:from-fGradient group-hover:via-sGradient group-hover:to-tGradient group-hover:scale-y-105"
          [ngClass]="
            order['marketId'] === market.id
              ? 'text-transparent bg-clip-text scale-x-125 bg-gradient-to-r from-fGradient via-sGradient scale-y-105 to-tGradient'
              : ''
          "
          >{{ market.name }}</span
        >
      </button>
      } }@else { @for (market of [1, 2, 3, 4]; track market) {
      <div
        class="flex items-center px-4 py-3 text-lg font-bold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite hover:scale-105"
      >
        <div class="bg-gray-700 rounded-md size-12 animate-pulse"></div>
        <span class="w-2/3 h-12 bg-gray-700 rounded-md animate-pulse"></span>
      </div>
      } }
    </div>
    } @case (1) {

    <h1 class="self-start text-3xl text-mainWhite md:text-6xl">
      Select the area
    </h1>
    <div
      class="grid w-full grid-cols-1 md:gap-8 gap-y-2 md:gap-y-0 md:grid-cols-2"
    >
      @if (!isLoadingA) { @for (area of allAreas; track area.id) {
      <button
        (click)="navigateFormArea(area, 'tech', 2)"
        class="flex items-center p-4 font-semibold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite"
        [class.bg-[#374151]]="order['areaId'] === area.id"
      >
        <span
          class="text-lg transition duration-500 origin-left group-hover:text-transparent group-hover:bg-clip-text group-hover:scale-x-125 group-hover:bg-gradient-to-r group-hover:from-fGradient group-hover:via-sGradient group-hover:to-tGradient group-hover:scale-y-105"
          [ngClass]="
            order['areaId'] === area.id
              ? 'text-transparent bg-clip-text scale-x-125 bg-gradient-to-r from-fGradient via-sGradient scale-y-105 to-tGradient'
              : ''
          "
          >{{ area.name }}</span
        >
      </button>
      } }@else { @for (market of [1, 2, 3, 4]; track market) {
      <div
        class="flex items-center px-4 py-3 text-lg font-bold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite hover:scale-105"
      >
        <span class="w-2/3 h-12 bg-gray-700 rounded-md animate-pulse"></span>
      </div>
      } }
    </div>
    } @case (2) {
    <h1 class="self-start text-3xl text-mainWhite md:text-6xl">
      Select the technology
    </h1>
    <div
      class="grid w-full grid-cols-1 md:gap-8 gap-y-2 md:gap-y-0 md:grid-cols-2"
    >
      @if (!isLoadingT) { @for (tech of allTechnologiesBelongArea; track
      tech.id) {
      <button
        (click)="navigateFromTechnology(tech, 'profile', 3)"
        class="flex items-center p-4 font-semibold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite"
        [class.bg-[#374151]]="order['technologyId'] === tech.id"
      >
        <div class="size-8">
          <img
            [src]="tech.iconUrl"
            class="object-cover w-full h-full transition duration-500 group-hover:scale-125"
            [alt]="tech.name"
            [class.scale-125]="order['technologyId'] === tech.id"
          />
        </div>
        <span
          class="text-lg transition duration-500 origin-left group-hover:text-transparent group-hover:bg-clip-text group-hover:scale-x-125 group-hover:bg-gradient-to-r group-hover:from-fGradient group-hover:via-sGradient group-hover:to-tGradient group-hover:scale-y-105"
          [ngClass]="
            order['technologyId'] === tech.id
              ? 'text-transparent bg-clip-text scale-x-125 bg-gradient-to-r from-fGradient via-sGradient scale-y-105 to-tGradient'
              : ''
          "
          >{{ tech.name }}</span
        >
      </button>
      } }@else { @for (market of [1, 2, 3, 4]; track market) {
      <div
        class="flex items-center px-4 py-3 text-lg font-bold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite hover:scale-105"
      >
        <div class="bg-gray-700 rounded-md size-12 animate-pulse"></div>
        <span class="w-2/3 h-12 bg-gray-700 rounded-md animate-pulse"></span>
      </div>
      } }
    </div>
    } } } } @if (activeTab === 3) {
    <h1 class="self-start text-3xl text-mainWhite md:text-6xl">
      Select your squad
    </h1>
    <div class="grid w-full grid-cols-1 px-4 md:ps-0 gap-y-6">
      <div class="flex flex-col w-full md:w-3/5 gap-y-2 text-mainWhite">
        @if (!isLoadingP) { @for (profile of allProfiles; track profile.id; let
        i = $index) {
        <h4 class="text-sm font-semibold">{{ profile.name }}</h4>
        <div class="flex items-center justify-between w-full gap-x-4">
          <!-- ( - ) -->
          <button
            (click)="moveLeft(i)"
            class="flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
          </button>

          <div
            class="relative h-1 my-4 rounded bg-gradient-to-r from-fGradient via-sGradient to-tGradient"
          >
            <div
              class="hidden h-4 transition-all duration-300 rounded-full md:block"
              [ngStyle]="{
                transform:
                  'translateX(' + counters[i] * step + 'px) translateY(-50%)'
              }"
              [class.bg-fGradient]="counters[i] <= 8"
              [class.bg-sGradient]="counters[i] > 8 && counters[i] <= 15"
              [class.bg-tGradient]="counters[i] > 15 && counters[i] <= 20"
            ></div>
            <!-- <div
              class="absolute left-0 md:hidden w-4 h-4 top-0.5 transition-all duration-300 rounded-full"
              [ngStyle]="{
                transform:
                  'translateX(' + counters[i] * stepM + 'px) translateY(-50%)'
              }"
              [class.bg-fGradient]="counters[i] <= 8"
              [class.bg-sGradient]="counters[i] > 8 && counters[i] <= 15"
              [class.bg-tGradient]="counters[i] > 15 && counters[i] <= 20"
            ></div> -->
          </div>

          <button
            (click)="moveRight(i)"
            class="flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
          </button>
          <div
            class="flex items-center justify-center px-2.5 py-1.5 text-sm font-semibold border-2 rounded-md gap-x-2 border-tGradient text-tGradient"
          >
            <span>{{ counters[i] }}</span> <span>profiles</span>
          </div>
        </div>
        } }@else { @for (market of [1, 2, 3, 4]; track market) {
        <div
          class="flex items-center px-4 py-3 text-lg font-bold transition rounded-md duration-500 border-b border-[#252C37] cursor-pointer group md:text-2xl gap-x-4 hover:bg-[#374151] text-mainWhite hover:scale-105"
        >
          <div class="bg-gray-700 rounded-md size-12 animate-pulse"></div>
          <span class="w-2/3 h-12 bg-gray-700 rounded-md animate-pulse"></span>
        </div>
        } }
      </div>
    </div>
    } @if (activeTab === 4) {
    <div
      class="flex flex-col px-4 pt-10 md:px-8 text-mainWhite gap-x-20 gap-y-12 md:gap-y-0 lg:flex-row"
    >
      <div class="flex flex-col order-2 w-full md:order-1 gap-y-12 lg:w-1/2">
        <h1 class="self-start text-3xl text-mainWhite md:text-5xl">
          We will contact you ASAP.
        </h1>
        <form [formGroup]="orderForm" class="space-y-8">
          <div>
            <input
              type="text"
              id="contact-name"
              placeholder="Contact name"
              formControlName="contactName"
              class="w-full py-2 text-white bg-transparent border-b border-[#700075] outline-none ps-2 focus:border-purple-300"
            />
          </div>

          <!-- Email -->
          <div>
            <input
              type="email"
              id="email"
              placeholder="Email"
              formControlName="contactEmail"
              class="w-full py-2 text-white bg-black border-b border-[#700075] outline-none ps-2 focus:border-purple-300"
            />
          </div>

          <!-- Telephone and Company -->
          <div class="grid grid-cols-2 gap-4">
            <div>
              <input
                type="text"
                id="telephone"
                placeholder="Telephone"
                formControlName="telephone"
                class="w-full py-2 text-white bg-black border-b border-[#700075] outline-none ps-2 focus:border-purple-300"
              />
            </div>
            <div>
              <input
                type="text"
                id="company"
                placeholder="Company"
                formControlName="company"
                class="w-full py-2 text-white bg-black border-b border-[#700075] outline-none ps-2 focus:border-purple-300"
              />
            </div>
          </div>
          <input
            id="question"
            type="text"
            formControlName="question"
            class="w-full px-4 py-3 mb-4 text-white bg-transparent border-b-2 outline-none border-fGradient focus:ring-0"
            placeholder="How can we help you?"
          />

          <!-- Checkboxes -->
          <div class="space-y-2">
            <label class="inline-flex items-center">
              <input type="checkbox" class="text-[#700075] form-checkbox" />
              <span class="ml-2 text-sm md:text-base"
                >Subscribe to Fiker today for service updates.</span
              >
            </label>
            <label class="inline-flex items-center">
              <input type="checkbox" class="text-[#700075] form-checkbox" />
              <span class="ml-2 text-sm md:text-base">
                I have read and accept the
                <a href="#" class="text-purple-300 underline">legal notice</a>
                and the
                <a href="#" class="text-purple-300 underline">privacy policy</a>
                *
              </span>
            </label>
          </div>
        </form>
      </div>

      <div
        class="rounded-lg h-fit lg:w-[45%] bg-gradient-to-b from-[#202B4B] via-[#341A41] to-[#3C193A]"
      >
        <h2 class="pt-6 mb-4 text-xl font-semibold md:ps-6 ps-4">
          ORDER SUMMARY
        </h2>
        <div class="px-4 space-y-4 text-sm md:px-7">
          <div class="flex flex-col w-full gap-y-2">
            <span>Market</span>
            <div
              class="flex items-center justify-between pb-2 border-b border-gray-700"
            >
              <span class="text-lg font-semibold">{{
                order["marketName"]
              }}</span>
              <button
                (click)="backToMarket()"
                class="text-lg font-semibold text-blue-400 hover:underline"
              >
                Edit
              </button>
            </div>
          </div>
          <div class="flex flex-col w-full gap-y-2">
            <span>Area</span>
            <div
              class="flex items-center justify-between pb-2 border-b border-gray-700"
            >
              <span class="text-lg font-semibold">{{ order["areaName"] }}</span>
              <button
                (click)="backToArea()"
                class="text-lg font-semibold text-blue-400 hover:underline"
              >
                Edit
              </button>
            </div>
          </div>

          <div class="flex flex-col w-full gap-y-2">
            <span>Technology</span>
            <div
              class="flex items-center justify-between pb-2 border-b border-gray-700"
            >
              <span class="text-lg font-semibold">{{ order["techName"] }}</span>
              <button
                (click)="backToTech()"
                class="text-lg font-semibold text-blue-400 hover:underline"
              >
                Edit
              </button>
            </div>
          </div>
          <div class="flex flex-col w-full">
            <span class="mb-1">Profiles</span>
            @for (item of profiles; track item.jobTitleId) {

            <div
              class="flex items-center justify-between text-lg font-semibold"
            >
              <span>{{ item.jobTitle }}</span>
              <span>{{ item.quantity }}</span>
            </div>
            }
            <button
              (click)="activeTab = 3"
              class="self-end text-lg font-semibold text-blue-400 hover:underline"
            >
              Edit
            </button>
          </div>
        </div>
        <div class="py-6 mt-8 ps-8 bg-[#8a3c68] rounded-tr-lg rounded-tl-lg">
          <span class="text-lg font-bold"
            >Subtotal: {{ totalQuantity }} profiles</span
          >
        </div>
      </div>
    </div>

    }
  </div>

  <div
    class="flex items-center justify-center w-full mx-auto mb-10 md:justify-start gap-x-8 md:ps-4 md:w-8/12"
    [class.ps-0]="activeTab === 4"
  >
    @if (activeTab !== 0 ) { @if (activeTab === 4 || activeTab == 5 ) {
    <button
      (click)="confirmOrder()"
      type="submit"
      class="flex items-center justify-center text-lg rounded-full gap-x-3 text-mainWhite btn"
      [class.hidden]="activeTab === 5"
    >
      @if (isLoading) {
      <div
        class="w-6 h-6 border-4 border-[#3c193a] border-solid rounded-full animate-spin border-t-transparent"
      ></div>

      } <span class="ps-2">Let's do it</span>
    </button>
    }@else {
    <button
      (click)="handleBack()"
      class="text-lg rounded-full text-mainWhite btn"
    >
      BACK
    </button>
    } } @if (activeTab == 3) {
    <button
      (click)="handleNext()"
      class="text-lg rounded-full text-mainWhite btn"
    >
      NEXT
    </button>
    }
  </div>
</div>

@if (activeTab === 5) {

<app-success-msg />}
