.btn {
  position: relative;
  background: linear-gradient(#000 0 0) padding-box,
    linear-gradient(90deg, #ff0090 0%, #d800f0 50%, #75bbfd 100%) border-box;
  font-weight: 600;
  border: 3px solid transparent;
  overflow: hidden;
  cursor: pointer;
  padding: 8px 60px;
  transition: color 0.4s ease;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #d800f0 0%, #ff0090 50%, #75bbfd 100%);
  z-index: -1;
  transform-origin: right;
  transition: transform 0.4s ease;
}

.btn:hover {
  animation: move-border 500ms linear infinite; /* Animation for continuous border movement */
}

@keyframes move-border {
  0% {
    transform-origin: right;
    background: linear-gradient(#000 0 0) padding-box,
      linear-gradient(90deg, #ff0090 0%, #d800f0 50%, #75bbfd 100%) border-box;
  }
  100% {
    transform-origin: left;
    background: linear-gradient(#000 0 0) padding-box,
      linear-gradient(90deg, #75bbfd 0%, #d800f0 50%, #ff0090 100%) border-box;
  }
}

.scroll::-webkit-scrollbar {
  width: 6px !important;
}

.scroll::-webkit-scrollbar-track {
  background: #abd0e7;
  border-radius: 2px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #3d91c7;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
