<aside
  class="fixed top-0 right-0 z-50 flex-col items-center justify-center hidden w-16 h-full space-y-4 text-white md:flex"
>
  @for (item of sections; track i; let i = $index) {
  <button
    (click)="scrollToSection2(i)"
    class="transition-all duration-300 bg-gray-800 rounded-full hover:w-3.5 hover:h-3.5"
    [ngClass]="activeSectionIndex === i ? 'w-3.5 h-3.5 ' : 'w-1 h-1'"
  ></button>
  }
</aside>

<main
  class="mx-auto overflow-hidden text-mainWhite"
  (scroll)="onScroll($event)"
>
  <section
    id="section0"
    class="flex justify-center w-screen h-[calc(100vh-6rem)]"
  >
    <app-hero />
  </section>
  <section id="section1" class="relative h-[calc(100vh-6rem)] overflow-hidden">
    <video
      autoplay
      muted
      loop
      playsinline
      class="absolute inset-0 object-cover w-full h-full"
    >
      <source
        src="https://squadsasaservice.com/video_squads.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </section>

  <section
    id="section3"
    class="flex items-center h-[calc(100vh-6rem)] md:justify-center"
  >
    <app-markets />
  </section>

  <section
    id="section4"
    class="relative flex px-2 h-[calc(100vh-6rem)] md:ps-64"
  >
    <app-services />
  </section>
  <section
    id="section5"
    class="flex items-center justify-center w-full h-[calc(100vh-6rem)] mx-auto max-w-7xl"
  >
    <app-ourcompany />
  </section>
  <section id="section6" class="relative flex w-full h-screen pt-4 md:pt-0">
    <app-technologies />
  </section>
  <section id="section7" class="relative w-full mx-auto overflow-hidden">
    <app-contact-us />
  </section>
</main>
