<aside
  class="fixed top-0 right-0 flex z-50 flex-col items-center justify-center w-16 h-full space-y-3.5 text-white"
>
  @for (item of sections; track i; let i = $index) {
  <button
    (click)="scrollToSection(i)"
    class="transition-all duration-300 bg-gray-800 rounded-full"
    [ngClass]="activeSectionIndex === i ? 'w-3.5 h-3.5 ' : 'w-1 h-1'"
  ></button>
  }
</aside>

<main
  class="mx-auto overflow-y-auto text-mainWhite"
  (scroll)="onScroll($event)"
>
  <section id="section0" class="flex justify-center h-[calc(100vh-6rem)]">
    <app-hero />
  </section>
  <section id="section1" class="flex items-center justify-center h-screen">
    <video
      src="https://squadsasaservice.com/video_squads.mp4"
      preload="auto"
      width="100%"
      height="100%"
      loop
      autoplay
      class="absolute z-[1500] h-screen"
    ></video>
  </section>

  <section id="section3" class="flex items-center h-screen md:justify-center">
    <app-markets />
  </section>

  <section id="section4" class="relative flex h-screen ps-64">
    <app-services />
  </section>
  <section
    id="section5"
    class="flex items-center justify-center w-full h-screen mx-auto max-w-7xl"
  >
    <app-ourcompany />
  </section>
  <section id="section6" class="relative flex w-full h-screen">
    <app-technologies />
  </section>
</main>
