<div
  style="height: calc(100vh - 300px)"
  class="relative flex flex-col items-center mx-auto mb-10 overflow-y-auto scroll md:ps-4 md:gap-y-10 gap-y-6"
>
  <div
    class="flex items-center justify-center px-2 uppercase md:px-8 pt-14 h-fit text-mainWhite"
  >
    <div
      class="flex flex-col justify-center md:p-14 p-4 bg-[#3c193a] bg-gradient-to-b from-[#202C4B] via-[#2F1B46] to-[#421733] rounded-lg items-center gap-y-6"
    >
      <h2 class="text-xl font-black md:text-3xl">request sent sucessfully!</h2>
      <p class="text-base font-bold md:text-lg">we will contact you asap.</p>
    </div>
  </div>
</div>
