.outlined-number {
  -webkit-text-stroke: 2px #ff0090; /* Outline color and width */
}
.outlined-number2 {
  -webkit-text-stroke: 2px #d800ff; /* Outline color and width */
}
.outlined-number3 {
  -webkit-text-stroke: 2px #6bceff; /* Outline color and width */
}
